<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="/img/JMR_Icon.ico" sizes="16x16">

    <title>Ma Playlist</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="application/javascript" src="/fetch.js"></script>
    <script type="application/javascript" src="/songmanager.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>